<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item text-success"><a class="nav-link" routerLink="/addcell">AddCell</a></li>
      <li class="nav-item text-secondary"><a class="nav-link" routerLink="/updatecell">updateCell</a></li>
      <li class="nav-item text-warning"><a class="nav-link" routerLink="/viewcell">viewCell</a></li>
      <li class="nav-item text-danger"><a class="nav-link" routerLink="/login">login</a></li>
      <li class="nav-item text-dark"><a class="nav-link" routerLink="/pipe">pipe</a></li>


    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
