
<div class="container">
  <h3>Book Details</h3>
</div>


<div class="container">
  <form [formGroup]="bookForm" (ngSubmit)="updateBook()">
    <div class="form-group">
      <label for="bookName">Book Name</label>
      <input id="bookName" class="form-control" type="text" formControlName="bookName">
      <span class="text-danger" *ngIf="bookForm.controls['bookName'].errors && bookForm.controls['bookName'].dirty">enter valid book</span>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input id="price" class="form-control" type="number" formControlName="price">
      <span class="text-danger" *ngIf="bookForm.controls['price'].errors && bookForm.controls['price'].dirty">enter price </span>

    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <select name="author" id="author" class="form-control" formControlName="author">
        <option value="" disabled>select author</option>
        <option value="swami mukundananda">swami mukundananda</option>
        <option value="swami vivekandanda">swami vivekandanda</option>
        <option value="joseph murphy">joseph murphy</option>
        <option value="gaurav">gaurav</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update Book</button>
    </div>
    <div *ngIf="successMsg!=null">
      <span class="text-success">{{successMsg}}</span>
    </div>
    <div *ngIf="errorMsg!=null">
      <span class="text-success">{{errorMsg}}</span>
    </div>
  </form>
</div>
