<div class="container">
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th>id</th>
        <th>productName</th>
        <th>price</th>
        <th>date</th>
        <th>update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.pid}}</td>
        <td>{{product.prodName | uppercase}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.publishDate| date:'MMMM d,y'}}</td>
        <td><button class="btn btn-warning" (click)="update(product.pid)">update</button></td>
      </tr>
    </tbody>
  </table>
</div>
