<p>practice works!</p>
<div>
  <form [formGroup]="gauravForm">
    <div class="form-group">

      <label for="gid">Text</label>
      <input id="gid" class="form-control" type="number" formControlName="gid" [disabled]="true">
    </div>
    <div class="form-group">
      <label for="gender">Text</label>
      <input id="gender" class="form-control" type="text" formControlName="gender">
    </div>
    <div class="form-group">
      <label for="name">Text</label>
      <input id="name" class="form-control" type="text" formControlName="name">
    </div>
  </form>

</div>
