<p>update-values works!</p>

<table class="table table-bordered-blue">
  <thead>
    <th>id</th>
    <th>firstName</th>
    <th>lsatName</th>
    <th>email</th>
    <th>phoneo</th>
    <th>passowrd</th>
    <th>update</th>
  </thead>
  <tbody>
    <tr>{{registerForm.get('fistName')?.value}}</tr>
    <tr>{{registerForm.get('lastName')?.value}}</tr>
    <tr>{{registerForm.get('email')?.value}}</tr>
    <tr>{{registerForm.get('password')?.value}}</tr>
    <tr>{{registerForm.get('phoneno')?.value}}</tr>
    <tr>{{registerForm.get('id')?.value}}</tr>

  </tbody>

